*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan-a: hsl(186, 14%, 43%);
    --Dark-grayish-cyan-b: hsl(184, 14%, 56%);
    --Light-grayish-cyan-a: hsl(185, 41%, 84%);
    --Light-grayish-cyan-b: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%); 

    background-color: var(--Light-grayish-cyan-a);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;    
    font-family: 'Space Mono', monospace;
}

.splitter {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background: url(/images/logo.svg) no-repeat;
    background-size: contain;
    width: 100px;
    height: 60px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--White);
    height: 400px;
    width: 780px;
    padding: 20px;
    border-radius: 25px;
}

.part-one {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 47%;
}

.bill {
    margin-bottom: 15px;
}

h3 {
    color: var(--Dark-grayish-cyan-b);
    margin-bottom: 5px;
}

.price-input, .no-of-people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    background-color: var(--Light-grayish-cyan-b);
}

.dollar {
    background: url(/images/icon-dollar.svg) no-repeat;
    background-size: contain;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.field, .people-field {
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    margin-right: 10px;
    font-weight: 500;
    direction: rtl;
    color: var(--Very-dark-cyan);
    background-color: transparent;
    border: none;
    caret-color: var(--Very-dark-cyan);
    outline: none;
}

.tip-select {
    margin-bottom: 15px;
}

.five, .ten, .fifteen, .twenty-five, .fifty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-radius: 7px;
    font-weight: 700;
    color: var(--Light-grayish-cyan-b);
    background-color: var(--Very-dark-cyan);
    margin-bottom: 2px;
    width: 100%;
    max-width: 100px;
    height: 40px;
    cursor: pointer;
}

.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 30% 30% 30%; 
    gap: 10px;
}

.grid input::placeholder {
    color: var(--Dark-grayish-cyan-b);
    text-align: center;   
}

.custom {
    background-color: var(--Light-grayish-cyan-a);
    margin-bottom: 2px;
    border-radius: 7px;
    max-width: 100px;
    width: 100%;
    height: 40px;
    border: none;
    color: var(--Very-dark-cyan);
    font-size: 1.3rem;
    font-weight: 700;
    outline: none;
    direction: rtl;
    padding: 0 5px;
}

/* .custom:active {
    outline: 2px solid var(--Strong-cyan);
} */

.person-svg {
    background: url(/images/icon-person.svg) no-repeat;
    background-size: contain;
    margin-left: 5px;
    width: 15px;
    height: 15px;
}

.part-two {
    width: 48%;
    background-color: var(--Very-dark-cyan);
    padding: 30px 20px;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip-div, .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tip-amount, .total-amount {
    color: var(--Strong-cyan);
    font-size: 2rem;
}

.tip-div h2, .total h2 {
    color: var(--Light-grayish-cyan-b);
    font-size: 1.3rem;
}

.tip-div p, .total p {
    color: var(--Dark-grayish-cyan-b);
    font-size: 1.1rem;
}

.reset-btn {
    color: var(--Very-dark-cyan);
    background-color: var(--Strong-cyan);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 720px) {
    .splitter {
        height: 20vh;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        background-color: var(--White);
        min-height: 80vh;
        height: 100%;
        width: 100%;
        padding: 20px;
        border-radius: 25px 25px 0  0;
    }

    .part-one {
        margin-bottom: 20px;
        width: 100%;
    }

    .part-two {
        width: 100%;
    }

    .grid {
        align-content: space-around;
        justify-content: space-between;
        grid-template-columns: 45% 45%;
        gap: 10px;
    }

    .five, .ten, .fifteen, .twenty-five, .fifty, .custom {
        margin-bottom: 2px;
        width: 100%;
        height: 52px;
        border-radius: 7px;
        max-width: 350px;
    }
}